<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/layout :: head}"></head>
<body>

    <header th:replace="~{layout/layout :: navbar}"></header>

    <div class="container mt-4">
        
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h2><i class="fa-solid fa-users"></i> Lista de Clientes</h2>
            <a th:href="@{/web/clientes/registrar}" class="btn btn-primary">
                <i class="fa-solid fa-user-plus"></i> Nuevo Cliente
            </a>
        </div>

        <div class="card shadow-sm">
            <div class="card-body p-0">
                <table class="table table-striped table-hover mb-0">
                    <thead style="--bs-table-bg: #6f42c1; --bs-table-color: white; color: white;">
                        <tr>
                            <th>ID</th>
                            <th>Razón Social</th>
                            <th>DNI/RUC</th>
                            <th>Dirección</th>
                            <th>Estado</th>
                            <th class="text-center">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="c : ${clientes}" th:classappend="${!c.activo} ? 'table-secondary' : ''">
                            <td th:text="${c.id}">1</td>
                            <td th:text="${c.razonSocial}">Cliente Y</td>
                            <td th:text="${c.rucDni}">102030</td>
                            <td th:text="${c.direccion}">Av. Siempre Viva</td>

                            <td class="text-center">
                                <span th:if="${c.activo}" class="badge bg-success">Activo</span>
                                <span th:unless="${c.activo}" class="badge bg-secondary">Inactivo</span>
                            </td>

                            <td class="text-center">
                                <a th:href="@{/web/clientes/editar/{id}(id=${c.id})}" class="btn btn-primary btn-sm">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </a>
                                <a th:if="${c.activo}"
                                    th:href="@{/web/clientes/eliminar/{id}(id=${c.id})}" 
                                    class="btn btn-danger btn-sm" 
                                    onclick="return confirm('¿Dar de baja a este cliente?')"
                                    title="Dar de Baja">
                                    <i class="fa-solid fa-user-slash"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <footer th:replace="~{layout/layout :: footer}"></footer>
</body>
</html>